<!DOCTYPE html>
<html>
  <head>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

<link rel="stylesheet" href="https://use.typekit.net/tzl3gvc.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Create a post</title>
    <link href="create.css" rel="stylesheet" type="text/css" />
      <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  </head>
  <body class = "body">
  <div class = "mybar bg-dark text-white text-center">
    <br>
    <img class = "rounded-circle" width = "50%" src = "https://cdn2.scratch.mit.edu/get_image/user/4253553_90x90.png"/>
    <h1>Kudos Beluga</h1>
    <br>
    <hr>
    <a class = "cursor h2 text-decoration-none" >Make a post</a>
    <hr>
        <a class = "cursor h2 text-decoration-none" ><i class="fas fa-home"></i> Home</a>
    <hr>
    <a class = "cursor h2 text-decoration-none" ><i class="far fa-user"></i> Profile</a>
    <hr>
        <a class = "cursor h2 text-decoration-none " >View account</a>
    <hr>
    </div>
    <input placeholder = "Title..." class = "inputrr titleinputt"/>
    <input placeholder = "Subtitle..." class = "inputrr subinputt"/>
    <input placeholder = "Picture url..." class = "inputrr linkinputt"/>
    <div id="container">
    <div id="editor">
    </div>
</div>
</div>
<button class="btn btn-primary float-right p-2 mr-1 mybtn">Submit</button>
    
    <script src = "create.js"></script>
  </body>
</html>