
<html>
  <head>    
          
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href = "style.css" rel = "stylesheet"/>
     
     <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/tzl3gvc.css">
    
    <title>Kudos Beluga</title>
  </head>
  <body class = "bg-dark body">
    <div class = "navbar h-100 float-left bg-secondary w-15">
      <div class = "side-item">
        <div style = "height:3vh"></div>
        Kudos Beluga
        <h5 data-aos-delay = "500" data-aos="fade-right" >Full stack dev</h5>
        </div>
        <hr class = "hr">
        <div data-aos="fade-right" data-aos-delay = "700" class = "side-item">
          <a href = "/blog" class = "pointer">My blog</a>
          </div>
                    <hr class = "hr">
          <div data-aos-delay = "900" data-aos="fade-right" class = "side-item">
          <a href = "/stack" class = "pointer">My stack</a>
          </div>
          <hr class = "hr">
          <div data-aos-delay = "1100" data-aos="fade-right" class = "side-item">
          <a href = "/about" class = "pointer">About me</a>
          </div>
          
          <div class = "side-item footer pointer">
            <span class="iconify" data-icon="mdi-github" data-inline="false"></span>
            <span class="iconify" data-icon="mdi-twitter" data-inline="false"></span>
            <span class="iconify" data-icon="il-facebook" data-inline="false"></span>
            </div>
      </div>
    <h1 data-aos-duration="600" data-aos="fade-up" class = "text-center display-1 text-white">Hi, I'm Kudos.</h1> 
    <h1 class = "display-1 text-center text-white" id = "typewriter"></h1>

    <script src = "script.js"></script>
    <script>AOS.init();</script>
    
    </body>
  </html>